.emptyCart {
    margin: 40vh auto auto auto;
    text-align: center;

    h2 {

    }

    a {
        text-decoration: none;
        margin: 0;
    }

    button {
        cursor: pointer;
        background-color: #3cc755;
        border: 0;
        color: white;
        outline: none;
        height: 40px;
        font-weight: 500;
        font-size: larger;
        width: 180px;
        transition: all ease-in-out .1s;

        &:hover {
            background-color: #03af23;
        }
    }
}