.content {
    
}

.header {
    margin: 0 20px 0 20px;
    display: flex;

    .categories {
        display: flex;
        .selectedItem {
            background-color: black;
            color: white;
            padding: 10px;
            font-size: 32px;
            margin-right: 20px;
            transition: transform .2s ease-in-out;

            &:hover {
                transform: translateY(5px);
            }
        }

        .item {
            background-color: white;
            color: black;
            padding: 10px;
            font-size: 32px;
            margin-right: 20px;
            cursor: pointer;
            transition: transform .2s ease-in-out;

            &:hover {
                transform: translateY(5px);
            }
        }
    }
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}


